name: CI/CD

on:
  push:
    tags: [v*]
    branches:
      - main
  pull_request:
    # By default, a workflow only runs when a pull_request event's activity type is opened,
    # synchronize, or reopened.
    types: [opened, synchronize, reopened, edited]
    branches:
      - main

permissions: read-all

jobs:
  code-quality:
    if: |
      ! cancelled() && always() &&
      ! startsWith(github.ref, 'refs/tags')
    permissions:
      # For trunk to post annotations
      checks: write
      # For repo checkout
      contents: read
    uses: climatepolicyradar/reusable-workflows/.github/workflows/python-precommit-validator-without-version.yml@v22
    with:
      python-version: 3.11
      poetry-version: 2.2

  unit-test:
    if: |
      ! cancelled() && always() &&
      ! startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Install latest Docker Compose
        uses: ndeloof/install-compose-action@v0.0.1
        with:
          legacy: false

      - uses: actions/checkout@v6

      - name: Run Unit Tests
        run: make test TEST=tests/unit_tests/
        env:
          POSTGRES_USER: navigator_admin
          POSTGRES_PASSWORD: password
          POSTGRES_DB: navigator

  integration-test:
    if: |
      ! cancelled() && always() &&
      ! startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Install latest Docker Compose
        uses: ndeloof/install-compose-action@v0.0.1
        with:
          legacy: false

      - uses: actions/checkout@v6

      - name: Run Integration Tests
        run: make test TEST=tests/integration_tests
        env:
          POSTGRES_USER: navigator_admin
          POSTGRES_PASSWORD: password
          POSTGRES_DB: navigator
